{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% include 'partials/_messages.html' %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link rel="stylesheet" href="{% static 'css/portfolio/pocket_history.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>


  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif;
      -webkit-font-feature-settings: "lnum";
      -moz-font-feature-settings: "lnum";
      font-feature-settings: "lnum";
    }
  </style>
  <script src="{% static 'js/portfolio/pocket_history.js' %}"></script>
</head>


<body class="w3-light-grey" style="margin-left: auto; margin-right: auto">
  <div class="overlay" id="overlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main">
    <!-- Header -->
    <header class="w3-container text-center mb-3 mt-4">
      <h3><b>{{ pocket_name }} - History</b></h3>
    </header>

    <div class="container mb-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="{% url 'pocket' %}" class="btn btn-primary">Main</a>
        </div>
        <div class="col-auto">
          <a href="{% url 'pocket_history' %}" class="btn btn-primary"
            >Operation history</a
          >
        </div>
        <div class="col-auto">
          <a href="pocket_charts" class="btn btn-primary">Charts</a>
        </div>
      </div>
    </div>

    <div>
      <table class="table table-strpped table-hover center-text">
        <thead>
          <tr>
            <th>Date</th>
            <th>Operation</th>
            <th>Asset Class</th>
            <th>Name</th>
            <th>Ticker</th>
            <th>Currency</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Fee</th>
            <th></th>
          </tr>
        </thead>

        <tbody style="font-size: 90%;">
          {% for operation in operations %}
          <tr>
            <td>{{operation.date}}</td>
            <td>{{operation.operation_type}}</td>
            <td>{{operation.asset_class}}</td>
            <td>name</td>
            <td>{{operation.ticker}}</td>
            <td>{{operation.currency}}</td>
            <td>{{operation.quantity}}</td>
            <td>{{operation.price}}</td>
            <td>{{operation.fee}}</td>
            <td>
              <button type="button" class="btn ">
                <i class="fas fa-trash-alt fa-lg" style="color: rgb(219, 3, 3); " onclick="openDeleteConfirmation('{{operation.id}}')" ></i>
              </button>   
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="delete-popup" id="deleteConfirmation">
      <div class="delete-popup-content">
        <span class="close" onclick="closeDeleteConfirmation()" style="float: right;">&times;</span>
        <form action="{% url 'pocket_history' %} " method="post" onsubmit="setOperationId()">
          <input type="hidden" name="operation_id" value="" id="operationIdField">
          {% csrf_token %}
          <div style="text-align: center;" >
            <p>Are you sure you want to delete this operation?</p>
            <button type="submit" class="btn btn-danger" >OK</button>
            <button type="button" class="btn btn-warning" onclick="closeDeleteConfirmation()">Cancel</button>
          </div>
        </form>
      </div>
      
    </div>

  </div>
</body>

<!-- Bootstrap JavaScript -->
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/portfolio/pocket.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

{% endblock content %}
