{% extends 'base.html' %} 
{% block content %} 
{% load static %} 
{% include 'partials/_messages.html' %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link rel="stylesheet" href="{% static 'css/portfolio/pocket.css' %}" />

  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif;
      -webkit-font-feature-settings: "lnum";
      -moz-font-feature-settings: "lnum";
      font-feature-settings: "lnum";
    }
  </style>

  <!-- Bootstrap JavaScript -->
  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="{% static 'js/portfolio/pocket.js' %}"></script>
  <!-- put data to global memory -->
  <script>
    window.usedAssetClassesDict = {{ used_asset_classes_dict|safe }};
  </script>

</head>

<body class="w3-light-grey" style="margin-left: auto; margin-right: auto">
  <div class="overlay" id="overlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main">
    <!-- Header -->
    <header class="w3-container text-center mb-3 mt-4">
      <h3><b>{{ pocket_name }} - composition and structure</b></h3>
    </header>

    <div class="container mb-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div
            class="btn-group"
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button type="button" class="btn btn-primary">Add</button>
            <div class="btn-group" role="group">
              <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              ></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" onclick="openBuyForm()" href="#"
                  >Buy</a
                >
                <a class="dropdown-item" onclick="openSellForm()">Sell</a>
                <a class="dropdown-item" href="#">Deposit of funds</a>
                <a class="dropdown-item" href="#">Withdraw funds</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <a href="{% url 'pocket_history' %}" class="btn btn-primary"
            >Operation history</a
          >
        </div>
        <div class="col-auto">
          <a href="pocket_charts" class="btn btn-primary">Charts</a>
        </div>
      </div>
    </div>

    <div class="form-popup" id="buyForm">
      <span class="close" onclick="closeBuyForm()" style="float: right"
        >&times;</span
      >
      <form
        class="form-container needs-validation"
        style="text-align: center"
        action="{% url 'pocket' %}"
        method="post"
      >
        {% csrf_token %}

        <input type="hidden" name="operation" value="buy" />
        <h1>BUY</h1>
        <div>
          <table>
            <tr>
              <div>
                <td>Asset class:</td>
                <td>
                  <select
                    name="asset_class"
                    id="asset_class_buy"
                    class="select2-hidden-accessible"
                  >
                    {% for asset_class in asset_classes %}
                    <option value="{{asset_class.name}}">
                      {{asset_class.name}}
                    </option>
                    {% endfor %}
                  </select>
                </td>
              </div>
            </tr>
            <tr>
              <div>
                <td>Ticker:</td>
                <td>
                  <input type="text" name="ticker" required />
                </td>
              </div>
            </tr>
            <tr>
              <td>Date:</td>
              <td><input type="date" name="date" required /></td>
            </tr>
            <tr>
              <td>Currency:</td>
              <td>
                <select
                  name="currency"
                  class="select2-hidden-accessible"
                  required
                >
                  {% for currency in currencies %}
                  <option value="{{currency.name}}">{{currency.name}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            <tr>
              <td>Quantity:</td>
              <td><input type="number" name="quantity" required /></td>
            </tr>
            <tr>
              <td>Price:</td>
              <td><input type="number" name="price" required /></td>
            </tr>
            <tr>
              <td>Fee:</td>
              <td><input type="number" name="fee" /></td>
            </tr>
            <tr>
              <td>Comment:</td>
              <td><input type="text" name="comment" /></td>
            </tr>
          </table>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 25px">
          <button
            type="submit"
            id="buy-button"
            class="btn btn-secondary"
            style="margin-right: 10px"
          >
            Buy
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            style="margin-left: 10px"
            onclick="closeBuyForm()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>

    <div class="form-popup" id="sellForm">
      <span class="close" onclick="closeSellForm()" style="float: right"
        >&times;</span
      >
      <form
        class="form-container needs-validation"
        style="text-align: center"
        action="{% url 'pocket' %}"
        method="post"
      >
        {% csrf_token %}

        <input type="hidden" name="operation" value="sell" />
        <h1>SELL</h1>
        <div>
          <table>
            <tr>
              <div>
                <td>Asset class:</td>
                <td>
                  <select
                    name="asset_class"
                    id="asset_class_sell"
                    class="select2-hidden-accessible"
                  >
                    {% for asset_class in used_asset_classes_dict.keys %}
                    <option value="{{asset_class}}">{{asset_class}}</option>
                    {% endfor %}
                  </select>
                </td>
              </div>
            </tr>
            <tr>
              <div>
                <td>Ticker:</td>
                <td>
                  <select
                    name="ticker"
                    id="ticker"
                    class="select2-hidden-accessible"
                  >
                    {% for ticker in used_tickers %}
                    <option value="{{ticker}}">{{ticker}}</option>
                    {% endfor %}
                  </select>
                </td>
              </div>
            </tr>
            <tr>
              <td>Date:</td>
              <td><input type="date" name="date" required /></td>
            </tr>
            <tr>
              <td>Currency:</td>
              <td>
                <select
                  name="currency"
                  class="select2-hidden-accessible"
                  required
                >
                  {% for currency in currencies %}
                  <option value="{{currency.name}}">{{currency.name}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            <tr>
              <td>Quantity:</td>
              <td><input type="number" name="quantity" required /></td>
            </tr>
            <tr>
              <td>Price:</td>
              <td><input type="number" name="price" required /></td>
            </tr>
            <tr>
              <td>Fee:</td>
              <td><input type="number" name="fee" /></td>
            </tr>
            <tr>
              <td>Comment:</td>
              <td><input type="text" name="comment" /></td>
            </tr>
          </table>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 25px">
          <button
            type="submit"
            id="buy-button"
            class="btn btn-secondary"
            style="margin-right: 10px"
          >
            Sell
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            style="margin-left: 10px"
            onclick="closeSellForm()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>

    <div>
      <table class="table table-strpped table-hover center-text">
        <thead>
          <tr>
            <th>Name</th>
            <th>Asset Class</th>
            <th>Currency</th>
            <th>Quantity</th>
            <th>Average purchase price [xxx]</th>
            <th>Current price [xxx]</th>
            <th>Daily change</th>
            <th>Daily change [PLN]</th>
            <th>Participation in portfolio</th>
            <th>Rate of return</th>
            <th>Rate of return [PLN]</th>
            <th>Profit [PLN]</th>
            <th>Dividend</th>
          </tr>
        </thead>

        <tbody  style="font-size: 90%;">
          {% for asset_allocation in asset_allocations %}
          <tr>
            <td>{{asset_allocation.asset.name}}</td>
            <td>{{asset_allocation.asset.asset_class}}</td>
            <td>{{asset_allocation.asset.currency}}</td>
            <td>{{asset_allocation.quantity}}</td>
            <td>{{asset_allocation.average_purchase_price}}</td>
            <td>{{asset_allocation.asset.current_price}}</td>
            <td>{{asset_allocation.daily_change_percent}} %</td>
            <td>{{asset_allocation.daily_change_XXX}}</td>
            <td>{{asset_allocation.participation}} %</td>
            <td>{{asset_allocation.rate_of_return}} %</td>
            <td>{{asset_allocation.rate_of_return_XXX}} %</td>
            <td>{{asset_allocation.profit_XXX}}</td>
            <td>{{asset_allocation.dividends}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

{% endblock content %}
